<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="signInForm" (ngSubmit)="signin()">
            <div class="form-group">
                <label for="username">Nazwa Użytkownika</label>
                <input 
                formControlName="username"
                type="text" 
                id="username" 
                class="form-control"
                name="username"
                >
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Zaloguj się</button>
            </div>
        </form>
    </div>
</div>